@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}

<div class="text-center">
    <h1 class="display-4">Hello</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<!-- Call to Action Section -->
<section class="cta">
    <div class="container">
        <h2>Get Started with GEDSI Hub Today!</h2>
        <p>Join a community dedicated to achieving gender balance and inclusivity through effective management systems.</p>
        <a class="btn btn-secondary" asp-page="/GADO/MandatePage/Index">Explore the Dashboard</a>
    </div>
