@page
@model GADApplication.Pages.GADO.MandatePage.CreateModel

@{
    ViewData["Title"] = "Create";
    
}
<!-- SIDEBAR -->
<section id="sidebar">

	<!-- Logo -->
	<a href="#" class="logo">
		<img src="~/images/GEDSI Hub logo.png" alt="GEDSI Hub Logo">
		<span class="text">GEDSI Hub</span>
	</a>

	<!-- Sidebar options and Icons-->
	<ul class="side-menu top">
		<li>
			<a asp-page="/GADO/gado_dashboard">
				<i class="bi bi-clipboard-data"></i>
				<span class="text">Dashboard</span>
			</a>
		</li>

		<li>
			<a asp-page="/GADO/gado_messages">
				<i class="bi bi-envelope-open"></i>
				<span class="text">Messages</span>
			</a>
		</li>

		<li class="active">
			<a asp-page="/GADO/gadfps">
				<i class="bi bi-people"></i>
				<span class="text">GAD Focal Point System</span>
			</a>
		</li>

		<li>
			<a asp-page="/GADO/gado_approval">
				<i class="bi bi-check2-square"></i>
				<span class="text">Approval</span>
			</a>
		</li>

		<li>
			<a asp-page="/GADO/gado_reports">
				<i class="bi bi-file-earmark-ruled"></i>
				<span class="text">Reports</span>
			</a>
		</li>

		<li>
			<a asp-page="/GADO/Index">
				<i class="bi bi-card-checklist"></i>
				<span class="text">Mandates</span>
			</a>
		</li>
	</ul>
</section>
<!-- SIDEBAR -->

<h1>Create</h1>

<h4>Mandate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Mandate.RepublicAct" class="control-label"></label>
                <input asp-for="Mandate.RepublicAct" class="form-control" />
                <span asp-validation-for="Mandate.RepublicAct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mandate.ChedMemo" class="control-label"></label>
                <input asp-for="Mandate.ChedMemo" class="form-control" />
                <span asp-validation-for="Mandate.ChedMemo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mandate.Description" class="control-label"></label>
                <input asp-for="Mandate.Description" class="form-control" />
                <span asp-validation-for="Mandate.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mandate.ActivityId" class="control-label"></label>
                <select asp-for="Mandate.ActivityId" class ="form-control" asp-items="ViewBag.ActivityId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
