@page
@model GADApplication.Pages.GADO.gado_dashboardModel
@{
	ViewData["Title"] = "Dashboard";
	Layout = "_GADOLayout";
}

<!-- Container for title and button on the same line -->
<div class="d-flex justify-content-between align-items-center mt-1">
    <!-- Page Title on the left -->
    <h2 class="mb-0">@ViewData["Title"]</h2>
</div>
<hr />
<div class="container mt-5">
    <!-- Trigger button -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Weh
    </button>

    <!-- Modal Structure -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal Title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    This is the content of the modal.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    /*Open the modal*/
    var myModal = new bootstrap.Modal(document.getElementById('exampleModal'));
    myModal.show();

    /*Close the modal*/
    myModal.hide();
</style>
